.searchBar {
  margin: 20px;
  text-align: center;
}

.searchBar input {
  width: 75%;
}

.videoItem img {
  max-width: 64px;
}

.videoDetail.details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.listGroupItem {
  cursor: pointer;
}

.listGroupItem:hover {
  background-color: #eee;
}

ul {
  list-style: none;
}